<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <title>Películas</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="mt-4 mb-4">Películas</h1>

      <div class="row">
        <!-- ciclo que recorre respuesta th:each -->
        <div class="col-md-4 mb-4" th:each="movie : ${movies}">
          <a th:href="@{'/movies/' + ${movie.id}}">
            <div class="card text-bg-dark">
              <img
                class="card-img-top rounded hover shadow"
                th:src="@{'https://image.tmdb.org/t/p/original/' + ${movie.posterTag}}"
              />
            </div>
          </a>
        </div>
      </div>
      <h1>miaaaau</h1>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
